
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
        font-family: "Pixelify Sans", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        overflow-x: hidden;

    }

a {
    text-decoration: none;
}

header {

    align-items: center;
    padding: 20px 100px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 100;

    box-shadow: 0 2px 10px -2px rgba(0,0,0,0.6);
    background-color: rgba(210, 217, 223, 0.366);

}

.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

.details-container {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
    margin-bottom: 20px;
  }


.menu-icon {
    font-size: 28px;
    display: none;
}

.logo {
    font-size: 20px;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    margin-left: 40px;
    transition: width 0.3s ease-in-out;
}

nav a:hover {
    border-bottom: purple 2px solid;
}

.cv img{
    height: 65px;
    max-width: 100%;
}
nav a {
    position: relative;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    margin-left: 40px;
    border-bottom: 2px solid transparent; /* Awalnya border transparan */
    transition: border-color 0.3s ease-in-out; /* Transisi warna border */
}

nav a:hover {
    border-color: purple; /* Mengubah warna border saat di hover */
}

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
  }

  .section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
  }

  .section__text {
    align-self: center;
    text-align: center;
  }

  .section__text p {
    font-weight: 600;
  }

  .section__text__p1 {
    text-align: center;
  }

  .section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }

  .title {
    font-size: 3rem;
    text-align: center;
  }

  #socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
    flex-direction: column;
  }

  .row-bidang {
    display: flex;
    justify-content: space-around;
  }

  #socials-container h4 {
    font-size: 30px;
  }

  .card-bidang img {
    width: 60px;
    height: 60px;
  }

  .card-bidang {
    width: 150px;
    height: 150px;
    padding: 20px;
    border: 1px solid #444;
  }


.about {
    height: 100vh;
    margin-top: 30px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* .about-box {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 5px solid rgb(218, 102, 102);
    position: relative;
} */

.content {
    width: 500px;
    border: 2px solid rgb(218, 102, 102);
    padding: 30px;
    position: relative;
    margin-bottom: 20px;
}

.content::before {
    content: '';
    position: absolute;
    left: -45px;
    top: 0;
    width: 20px;
    height: 20px;
    background: rgb(164, 24, 24);
}

.skills-section {
    text-align: center;
    padding: 50px 20px;
}

.skills-section h2 {
    font-size: 32px;
    color: #00cc99;
    margin-bottom: 20px;
    position: relative;
}

.skills-section h2::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #00cc99;
    margin: 10px auto 0;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.skill {
    background-color: #fff;
    color: #333;
    border-radius: 8px;
    padding: 20px;
    /* width: calc(33.333% - 40px); */
    width: 150px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.skill:hover {
    transform: translateY(-10px);
}

.skill img {
    width: 60px;
    margin-bottom: 20px;
}

.skill h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #0b3c5d;
}

.skill p {
    font-size: 14px;
    color: #666;
}


#projects {
    position: relative;
  }

  .color-container {
    border-color: rgb(163, 163, 163);
    background: rgb(250, 250, 250);
  }

  .project-img {
    border-radius: 2rem;
    width: 90%;
    height: 90%;
  }

  .project-title {
    margin: 1rem;
    color: black;
  }

  .project-btn {
    color: black;
    border-color: rgb(163, 163, 163);
  }


  .contact {
    height: 20vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container-contact {
    padding: 20px;
    background-color: rgb(232, 235, 239);
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
     -webkit-box-shadow: -1px 8px 8px -3px rgba(0,0,0,0.7);
    -moz-box-shadow: -1px 8px 8px -3px rgba(0,0,0,0.7);
    box-shadow: -1px 8px 8px -3px rgba(0,0,0,0.7);
}

.sosmed {
    display: flex;
    align-items: center;
}

.sosmed img{
    width: 50px;
    gap: 30px;
}


  .email-icon {
    height: 2.5rem;
  }
  .contact-icon {
    height: 2.5rem;
  }

.educ-title{
    font-size: 25px;
    margin-bottom: 20px;
}

.about{
    display: flex;
    flex-direction: column;
}

.about .contents{
	padding: 0px 30px;
	border-left: 2px solid #bababa;
}
.about .contents .box{
	position: relative;
	padding: 20px;
	border: 1px solid #eaeaea;
	background-color: #ffffff;
	cursor: pointer;
	transition: all 0.4s;
	margin-bottom: 20px;
}
.about .contents .box:hover{
	box-shadow: 0px 3px 12px 0px #ccc;
	border: 1px solid transparent;
}
.about .contents .box::before{
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	right: calc(100% + 22px);
	top: 0;
	background-color: #11a372;
	border: 2px solid white;
}
.box h4{
	position: relative;
	color: #11a372;
}
.box h3{
	font-size: 19px;
	padding: 10px 0px 6px;
	color: #444;
}
.box p{
	line-height: 1.2;
	color: #666;
	font-size: 17px;
}
/* .contact h3 {
    align-items: center;
} */
.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
  }

  .btn-color-1,
  .btn-color-2 {
    border: rgb(53, 53, 53) 0.1rem solid;
  }

  .btn-color-1:hover,
  .btn-color-2:hover {
    cursor: pointer;
  }

  .btn-color-1,
  .btn-color-2:hover {
    background: rgb(53, 53, 53);
    color: white;
  }

  .btn-color-1:hover {
    background: rgb(0, 0, 0);
  }

  .btn-color-2 {
    background: none;
  }

  .btn-color-2:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
  }

  .btn-container {
    gap: 1rem;
  }

  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

  @media screen and (max-width: 1400px) {
    #profile {
      height: 83vh;
      margin-bottom: 6rem;
    }
}


@media screen and (max-width: 1200px) {

    #profile,
    .section-container {
      display: block;
    }
}

@media screen and (max-width: 600px) {

    #profile {
      height: 83vh;
      margin-bottom: 0;
    }

}



.contact-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    /* padding: 50px 20px; */
}

.contact-section h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.contact-section p {
    font-size: 18px;
    margin-bottom: 30px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icons a {
    display: inline-block;
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease-in-out;
}

.social-icons a:hover {
    transform: translateY(-5px);
}

.social-icons img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

/* Responsive Design for Mobile Devices */
@media (max-width: 750px) {
    .contact-section {
        width: 100vw;
        padding: 30px 15px;
    }

    .contact-section h2 {
        font-size: 28px;
    }

    .contact-section p {
        font-size: 16px;
    }

    .social-icons a {
        width: 40px;
        height: 40px;
    }
}
