
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
        font-family: "Pixelify Sans", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        overflow-x: hidden;
        
    }

a {
    text-decoration: none;
}

header {
    
    align-items: center;
    padding: 20px 100px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    
    box-shadow: 0 2px 10px -2px rgba(0,0,0,0.6);
    background-color: rgba(210, 217, 223, 0.366);

}

.logo {
    font-size: 20px;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    margin-left: 40px;
    transition: width 0.3s ease-in-out;
}

nav a:hover {
    border-bottom: purple 2px solid;
}

.cv img{
    height: 65px;
    max-width: 100%;
}
nav a {
    position: relative;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    margin-left: 40px;
    border-bottom: 2px solid transparent; /* Awalnya border transparan */
    transition: border-color 0.3s ease-in-out; /* Transisi warna border */
}

nav a:hover {
    border-color: purple; /* Mengubah warna border saat di hover */
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15%;
    gap: 30px;
}

.home h1 {
    font-size: 50px;
}


.photo {
    width: 550px;
    height: 550px;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.home h5 {
    margin-top: 40px;
}




.home-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.bidang-container {
    max-width: 100%;
    display: flex;
    gap: 20px;
}

.bidang {
    width: 200px;
    text-align: center;
    border: 2px solid black; /* Tambahkan garis tepi hitam dengan ketebalan 2px */
    padding: 10px; /* Tambahkan padding agar teks tidak terlalu dekat dengan garis tepi */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bidang img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.about {
    height: 100vh;
    margin-top: 30px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-about {
    max-width: 100%;
    margin-top: 20px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex: start;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-box {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 5px solid rgb(218, 102, 102);
    position: relative; 
}

.content {
    width: 500px;
    border: 2px solid rgb(218, 102, 102);
    padding: 30px;
    position: relative;
    margin-bottom: 20px; 
}

.content::before {
    content: ''; 
    position: absolute;
    left: -45px;
    top: 0; 
    width: 20px; 
    height: 20px;
    background: rgb(164, 24, 24);
}

.skill {
    height: 100vh;
    margin-top: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill h1 {
    font-size: 35px;
    margin-bottom: 25px;
}

.container-skill {
    max-width: 100%;
    background-color: rgb(232, 235, 239);
    width: 80%;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0 35px; 
    -webkit-box-shadow: -1px 8px 8px -3px rgba(0,0,0,0.7);
    -moz-box-shadow: -1px 8px 8px -3px rgba(0,0,0,0.7);
    box-shadow: -1px 8px 8px -3px rgba(0,0,0,0.7);
}

.skill-title {
    display: block;
    text-align: center; 
    margin-bottom: 20px; 
}

.skill-box {
    height: 70%;
    padding: 10px;
    width: 70px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.skill-box p {
    text-align: center;
    margin-top: 12px;
}


.skill-box img {
    width: 35px;
}
.skill-box h3 {
    margin-top: 12px;
}

.project {
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 15em;
}

.project h1 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 45px;
}

.container-project {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-box {
    background-color: rgb(232, 235, 239);
    display: flex;
    -webkit-box-shadow: -1px 8px 8px -3px rgba(0,0,0,0.7);
    -moz-box-shadow: -1px 8px 8px -3px rgba(0,0,0,0.7);
    box-shadow: -1px 8px 8px -3px rgba(0,0,0,0.7);
}

.project-content {
    margin: 20px;
    border: 1px solid black;
    padding: 12px;
}

.project-content img{
    height: 80px;
}

.contact {
    height: 20vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
}

.container-contact {
    padding: 20px;
    background-color: rgb(232, 235, 239);
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
     -webkit-box-shadow: -1px 8px 8px -3px rgba(0,0,0,0.7);
    -moz-box-shadow: -1px 8px 8px -3px rgba(0,0,0,0.7);
    box-shadow: -1px 8px 8px -3px rgba(0,0,0,0.7);
}

.sosmed {
    display: flex;
    align-items: center;
}

.sosmed img{
    width: 50px;
    gap: 30px;
}

/* .contact h3 {
    align-items: center;
} */